.dropdown-content {
    display: none;
    position: absolute;
    color: white;
    font-family: sans-serif;
    background-color: rgb(111, 117, 255);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 0;
    z-index: 1;
}

.reset {
    border: none;
    margin: 10px;
    display:inline-block;
    background-color: transparent;
    color: white;
    font-family: sans-serif;
}
.reset:active{
    color: #d6d6d6;
    border: none;
    position: relative;
    top: 1px
}

.apply {
    width: 100%;
    padding: 15px 30px;
    font-size: 16px;
    border: none;
    color: white;
    font-family: sans-serif;
    background-color: #fffc4e;
}
.apply:hover {
    background-color: #fffd7c;
}
.apply:active {
    position: relative;
    top: 2px;
}

.isRead {
    border-top: solid;
    border-color: white;
}
.category {
    border-top: solid;
    border-color: white;
}