.dropdown__content {
    display: none;
    position: absolute;
    color: white;
    font-family: sans-serif;
    background-color: #5b7aff;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 0;
    z-index: 1;
}

.dropdown__content__reset {
    border: none;
    margin: 10px;
    display:inline-block;
    background-color: transparent;
    color: white;
    font-family: sans-serif;
}
.dropdown__content__reset:hover{
    cursor: pointer;
}
.dropdown__content__reset:active{
    border: none;
    position: relative;
    top: 1px
}
.dropdown__content__reset:focus {
    outline: none;
}

.dropdown__content__apply {
    width: 100%;
    padding: 15px 30px;
    font-size: 16px;
    border: none;
    color: #000000;
    font-family: sans-serif;
    background-color: #fffc4e;
}
.dropdown__content__apply:hover {
    background-color: #fffd7c;
}
.dropdown__content__apply:active {
    position: relative;
    top: 2px;
}
.dropdown__content__apply:focus {
    outline: none;
}

.dropdown__content__isRead {
    border-top: solid;
    border-color: white;
}
.dropdown__content__category {
    border-top: solid;
    border-color: white;
}