.table-row__isRead__true {
    background-color: inherit;
}
.table-row__isRead__false {
    background-color: #d2d2d2;
}
.table-row__status__error {
    min-height: inherit;
    background-color: red;
}
.table-row__status__info {
    background-color: blue;
}
.table-row__status__debug {
    background-color: yellow;
}
.table-row__status__warn {
    background-color: #fc7e00;
}
.table-row__status__crit {
    background-color: #ff00a1;
}

.table-row__color {
    min-height: inherit;
    padding-bottom: 10px;
    padding-top: 10px;
}
.table-row__category {
    width: 15%;
}
.table-row__text {
    width: 78%;
    cursor: pointer;
}
.table-row__date {
    width: 7%;
}