.table {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    border-collapse: collapse;
}

.table th:not(.color) {
    padding: 8px;
    color: #8f8f8f;
    text-align: left;
}
.table td:not(.color) {
    padding: 10px;
    text-align: left;
}
.table__color {
    padding-bottom: 10px;
    padding-top: 10px;
}
.table__category {
    border-top-width: 0;
    width: 15%;
}
.table__text {
    width: 78%;
}
.table__date {
    width: 7%;
}

.mark {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 15px 30px;
    font-size: 20px;
    border: none;
    color: white;
    font-family: sans-serif;
    background-color: #5b7aff;
}
.mark:hover {
    background-color: #5168d0;
}
.mark:active {
    background-color: #5b7aff;
}

.pagination {
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    bottom: 60px;
    list-style: none;
}

.pagination__page-item {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}