.table {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    border-collapse: collapse;
}

.table th:not(.color) {
    padding: 8px;
    color: #8f8f8f;
    text-align: left;
}
.table td:not(.color) {
    padding: 10px;
    text-align: left;
}

.mainBlockOfTable {
    max-height: 800px;
    overflow: scroll;
    overflow-x: hidden;
}